body {
	font-family: 'Lobster', cursive;
}

h1 {
	font-weight: 400;
	font-size: 40px;
}
h2,h3,h4, .modal-text {
	font-family: 'Raleway', sans-serif;
}

.text-color {
	color:orange;
}

.logo {
	padding: 15px;
}

.logo-img {
	
	border-radius: 50%;
}

.featured-img {
	margin: 15px auto;
}

.footer {
	height: 100px;
	margin-top: 50px;
}

.modal-img {
	margin-bottom: 15px;
}

.franch {
	border-radius: 50%;
	margin: 15px auto;
}
